<?xml version='1.0' encoding='utf-8'?>
<widget id="ca.edumedia.carp0052.dataApp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GIFTR Carp0052</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="carp0052@algonquinlive.com" href="github.com/carp0052">
        Sara Carpinone
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
